<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">

    <title>Latest News | Fake News Detector Pro</title>
    <link rel="icon" href="static/pics/logo.PNG" type="image/icontype">

    <script src="{{url_for('static',filename='js/LNews.js')}}"> </script>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500;1,600&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/style1.css') }}">

</head>

<body>

 <div>
    <nav>
        <a href="{{url_for('home')}}"><img class="logo" src="/static/pics/logo-removebg-preview.png" alt="logo"></a>
        <!-- <h2 class="logo">Fake news Detector <span> Pro</span></h2> -->
        <ul>
            <li><a href="{{url_for('home')}}" class="active">Home</a></li>
                <li><a href="{{url_for('LNews')}}">Latest News</a></li>
                <li><a href="{{url_for('TStory')}}">Top Stories</a></li>
                <li><a href="{{url_for('about')}}">About</a></li>
                <li><a href="{{url_for('query')}}">Contact Us</a></li>
        </ul>
        <button type="extension_link_button">
            <a class="extension_btn" href="/download " target="_blank">Get Extension here</a>
        </button>
    </nav>
</div>




</body>

</html>