<html>
<head>
<script type="text/javascript">


var links = new Array();
links[0] = "https://web-production-2888.up.railway.app/news15Forces";
links[1] = "https://web-production-2888.up.railway.app/news7Tesla";
links[2] = "https://web-production-2888.up.railway.app/news5Earth";
links[3] = "https://web-production-2888.up.railway.app/news1India";
links[4] = "https://web-production-2888.up.railway.app/news6Newz";
links[5] = "https://web-production-2888.up.railway.app/news4Six";
links[6] = "https://web-production-2888.up.railway.app/news9China";
links[7] = "https://web-production-2888.up.railway.app/news12Court";
links[8] = "https://web-production-2888.up.railway.app/news14Five";

function openLink() {

  var i = Math.floor(Math.random() * links.length);

  parent.location = links[i];
  return false;
}

</script>

</head>

<body onload="openLink();">

</body>

</html>
