<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">

     <link rel="stylesheet" href="{{ url_for('static',filename='css/navbar_footer_response.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/query.css') }}">


    <title>Top Stories | Fake News Detector Pro</title>
        <link rel="icon" href="static/pics/icon.PNG" type="image/icontype">
        <script type="text/javascript" src="{{url_for('static',filename='js/top_stories.js')}}"></script>

</head>

<body>

 <div>
        <nav>
            <a href="{{url_for('home')}}"><img class="logo" src="/static/pics/logo.PNG" alt="logo"></a>
            <!-- <h2 class="logo">Fake news Detector <span> Pro</span></h2> -->
            <ul>
                <li><a href="{{url_for('home')}}" class="active">Home</a></li>
                <li><a href="{{url_for('LNews')}}">Latest News</a></li>
                <li><a href="{{url_for('TStory')}}">Top Stories</a></li>
                <li><a href="{{url_for('about')}}">About</a></li>
                <li><a href="{{url_for('query')}}">Contact Us</a></li>
            </ul>

        </nav>
    </div>
</body>



</html>
