<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Fake News Detector Pro | Home</title>
    <link rel="icon" href="../images/logo.PNG" type="image/icontype">

    <!-- CSS -->
    <link rel="stylesheet" href="../css/news_pages.css">
    <link rel="stylesheet" href="../css/navbar_footer_response.css">





</head>

<body>


    <div class="topnav">
        <nav id="myTopnav">
            <a href="Home.html"><img class="logo" src="../images/fake_news_detector_pro.PNG" alt="logo"></a>
            <!-- <h2 class="logo">Fake news Detector <span> Pro</span></h2> -->
            <ul>
                <li><a href="../index.html" >Home</a></li>
                <li><a href="../latest_news.html" class="active" >Latest News</a></li>
                <li><a href="../top_stories.html">Top Stories</a></li>
                <li><a href="../about us.html">About</a></li>
                <li><a href="../query.html">Contact Us</a></li>

                <a href="javascript:void(0);" class="icon" onclick="myFunction()"></a>
            </ul>
            <!-- <button type="button">Profile</button> -->
        </nav>
    </div>



    <div class="row_1 ">
        <div class="column_1">
            <h1>Air India seals record order for almost 500 Airbus Boeing jets</h1><br>
            <div class="news_page_image">
                <img src="../images/Air India seals record order for almost 500 Airbus Boeing jets.webp" alt="logo"
                    width="100%" height="100%">
            </div>
            <div class="news">

                <p>Air India unveiled deals on Tuesday for a record 470 jets from Airbus and Boeing,
                    accelerating
                    the rebirth of a national emblem under new owners Tata Group as Europe and the United States
                    hailed deepening economic and political ties with New Delhi.
                </p>
                </br>
                <p>The provisional deals include 220 planes from Boeing and 250 from Airbus and eclipse
                    previous records for a single airline as Air India vies with domestic
                    giant IndiGo to serve what will soon be the world's largest population.
                </p>
            </div>


            <div>
                <h2 class="hot_news">Latest News</h2>
            </div>

            <div class="row_8">

                <div class="column_15">
                    <a class="vertical_news" href="../News_Pages/As U.S. budget fight looms, Republicans flip their fiscal script.html">

                        <div class="row_9">
                            <img src="../images/As U.S. budget fight looms, Republicans flip their fiscal script.jpeg"
                                width="100%" height="100%">
                        </div>

                        <div class="row_10">
                            <h4>As U.S. budget fight looms, Republicans flip their fiscal script</h4>
                        </div>

                    </a>
                    <div class="row_11">
                        <p>The head of a conservative Republican faction in the U.S.Congress who voted this month
                            for a  </p>
                    </div>

                </div>


                <div class="vl"></div>


                <div class="column_15">
                    <a class="vertical_news" href="../News_Pages/Ben Duckett will take every chance for England, while New Zealand overlook Trent Boult.html">

                        <div class="row_9">

                            

                            <img src="../images/Ben Duckett will take every chance for England, while New Zealand overlook Trent Boult.jpg"
                                alt="logo" width="100%" height="100%">


                        </div>

                        <div class="row_10">
                            <h4>Ben Duckett will take every chance for England, while New Zealand overlook Trent Boult.
                            </h4>
                        </div>
                    </a>

                    <div class="row_11">
                        <p>Ben Duckett fell out of favour as quickly as he rose through the ranks</p>
                    </div>

                </div>


                <div class="vl"></div>


                <div class="column_15">
                    <a class="vertical_news" href="../News_Pages/China Xi calls for early resolution of Iran nuclear issue.html">

                        <div class="row_9">
                            <img src="../images/China's Xi calls for early resolution of Iran nuclear issue.jpg"
                                alt="logo" width="100%" height="100%">

                        </div>

                        <div class="row_10">
                            <h4>China Xi calls for early resolution of Iran nuclear issue</h4>
                        </div>

                    </a>
                    <div class="row_11">
                        <p>China's President Xi Jinping on Tuesday called for the early and proper resolution of the
                            Iran nuclear </p>
                    </div>


                </div>


                <div class="vl"></div>


                <div class="column_15">
                    <a class="vertical_news" href="../News_Pages/Court orders Trump administration to give immigrant teens abortion access.html">

                        <div class="row_9">
                            <img src="../images/Court orders Trump administration to give immigrant teens abortion access.jpeg"
                                alt="logo" width="100%" height="100%">

                        </div>

                        <div class="row_10">
                            <h4>Court orders Trump administration to give immigrant teens abortion access</h4>
                        </div>

                    </a>
                    <div class="row_11">
                        <p>A U.S. District Court judge ruled on Monday that President Donald Trump’s administration
                            must allow </p>
                    </div>



                </div>
            </div>
        </div>

        <div class="column_2">
            <div>
                <h2 class="top_news">Top Stories</h2>
            </div>
            <div class="row_2">
                <div class="column_3">
                    <img src="../images/Tesla workers launch campaign to form union in New York.webp" alt="logo"
                        width="100%" height="100%">
                </div>

                <div class="column_4">
                    <h3>Tesla workers launch campaign to form union in New York</h3>
                    <p>Tesla Inc (TSLA.O) workers in New York state said on Tuesday they are launching a campaign <a
                            href="../News_Pages/Tesla workers launch campaign to form union in New York.html" class="button">See More</a>
                    </p>
                </div>
            </div>
            </br>
            <hr>
            </br>

            <div class="row_3">
                <div class="column_5">

                    <img src="../images/FBI Russia probe helped by Australian diplomat tip.webp" width="100%"
                        height="100%">
                </div>

                <div class="column_6">
                    <h3>FBI Russia probe helped by Australian diplomat tip</h3>
                    <p>Trump campaign adviser George Papadopoulos told an Australian diplomat in May 2016 that Russia <a
                        href="../News_Pages/FBI Russia probe helped by Australian diplomat tip.html" class="button">See More</a>
                    </p>
                </div>
        </div>
        </br>
        <hr>
        </br>


        <div class="row_4">
            <div class="column_7">

                <img src="../images/Ferrari reveal their 'Valentine' as new car launched for 2023 Formula 1 championship challenge.jpg"
                    alt="logo" width="100%" height="100%">
            </div>

            <div class="column_8">

                <h3>Ferrari reveal 'Valentine' as new car launched Formula 1 championship challenge</h3>
                <p>This is the car Ferrari hope will end their championship drought in 2023.<a href="../News_Pages/Ferrari reveal their 'Valentine as new car launched for 2023 Formula 1 championship challenge.html"
                        class="button">See More</a></p>

                
            </div>
        </div>
        </br>
        <hr>
        </br>

        <div class="row_5">
            <div class="column_9">

                <img src="../Images/Second U.S. judge blocks Trump administration birth control rules.jpeg"
                    alt="logo" width="100%" height="100%">
            </div>

            <div class="column_10">
                <h3>Second U.S. judge blocks Trump administration birth control rules</h3>
                <p>A second U.S. judge on Thursday blocked President Donald Trump’s administration from enforcing
                    new rules 
                    <a href="../News_Pages/Second U.S. judge blocks Trump administration birth control rules.html" class="button">See More</a>
                </p>
            </div>
        </div>
        </br>
        <hr>
        </br>

        <div class="row_6">
            <div class="column_11">
                <img src="../images/Republicans seek to question FBI officials in Clinton probe- letter.jpg" alt="logo"
                    width="100%" height="100%">
            </div>

            <div class="column_12">
                <h3>Republicans seek to question FBI officials in Clinton probe</h3>
                <p>Two Republican lawmakers told the U.S. Department of Justice on Tuesday that they want to
                    question three senior 
                    <a href="../News_Pages/Republicans seek to question FBI officials in Clinton probe.html" class="button">See More</a>
                </p>
            </div>
        </div>
        </br>
        <hr>
        </br>

        <div class="row_7">
            <div class="column_13">
                <img src="../images/Paris Olympics Ukrainian president Volodymyr Zelenskyy says no place for Russia at 2024 Games while invasion continues.jpeg"
                    width="100%" height="95%">
            </div>

            <div class="column_14">
                <h3>Paris Olympics Ukrainian president Volodymyr Zelenskyy says no place for Russia at 2024 Games
                    while invasion continues</h3>
                <p>The IOC argues it would be
                    <a href="../News_Pages/Paris Olympics Ukrainian president Volodymyr Zelenskyy says no place for Russia at 2024 Games while invasion continues.html" class="button">See More</a>
                </p>
            </div>
        </div>
        </br>
        <hr>
        </br>


    </div>
    </div>





    </br> </br> </br>
    <footer>
        <div class="footer_content">
            <h3> Fake News Detector <span>Pro</span></h3>
        </div>
        <div class="footer-bottom">
            <p>Copyright &copy; 2023 Fake News Detector Pro. All Rights Reserved.</p>
        </div>

    </footer>


    <script src="../js/responsive.js"> </script>

    <!-- <script src="../js/random.js"> </script> -->




</body>

</html>