<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Fake News Detector Pro | Home</title>
    <link rel="icon" href="../images/logo.PNG" type="image/icontype">

    <!-- CSS -->
    <link rel="stylesheet" href="../css/news_pages.css">
    <link rel="stylesheet" href="../css/navbar_footer_response.css">




</head>

<body>


    <div class="hero">
        <nav>
            <a href="Home.html"><img class="logo" src="../images/fake_news_detector_pro.PNG" alt="logo"></a>
            <!-- <h2 class="logo">Fake news Detector <span> Pro</span></h2> -->
            <ul>

                <li><a href="../index.html" >Home</a></li>
                <li><a href="../latest_news.html" class="active" >Latest News</a></li>
                <li><a href="../top_stories.html">Top Stories</a></li>
                <li><a href="../about us.html">About</a></li>
                <li><a href="../query.html">Contact Us</a></li>

                

            </ul>
            <!-- <button type="button">Profile</button> -->
        </nav>
    </div>



    <div class="row_1 ">
        <div class="column_1">
            <h1>As U.S. budget fight looms, Republicans flip their fiscal script</h1><br>
            <div class="news_page_image">
                <img src="../images/As U.S. budget fight looms, Republicans flip their fiscal script.jpeg" alt="logo"
                    width="100%" height="100%">
            </div>
            <div class="news">

                <p>The head of a conservative Republican faction in the U.S. Congress, who voted this month for a huge expansion of the national debt to pay for tax cuts, called himself a “fiscal conservative” on Sunday and urged budget restraint in 2018.
                </p>
                </br>
                <p>In keeping with a sharp pivot under way among Republicans, U.S. Representative Mark Meadows, speaking on CBS’ “Face the Nation,” drew a hard line on federal spending, which lawmakers are bracing to do battle over in January.
                </p>
				</br>
				<p>When they return from the holidays on Wednesday, lawmakers will begin trying to pass a federal budget in a fight likely to be linked to other issues, such as immigration policy, even as the November congressional election campaigns approach in which Republicans will seek to keep control of Congress.
				</p>
				</br>
				<p>President Donald Trump and his Republicans want a big budget increase in military spending, while Democrats also want proportional increases for non-defense “discretionary” spending on programs that support education, scientific research, infrastructure, public health and environmental protection.
				</p>
				</br>
				<p>“The (Trump) administration has already been willing to say: ‘We’re going to increase non-defense discretionary spending ... by about 7 percent,’” Meadows, chairman of the small but influential House Freedom Caucus, said on the program.
				</p>
				</br>
				<p>“Now, Democrats are saying that’s not enough, we need to give the government a pay raise of 10 to 11 percent. For a fiscal conservative, I don’t see where the rationale is. ... Eventually you run out of other people’s money,” he said.
				</p>
				</br>
				<p>Meadows was among Republicans who voted in late December for their party’s debt-financed tax overhaul, which is expected to balloon the federal budget deficit and add about $1.5 trillion over 10 years to the $20 trillion national debt.
				</p>
				</br>
				<p>“It’s interesting to hear Mark talk about fiscal responsibility,” Democratic U.S. Representative Joseph Crowley said on CBS
				</p>
				</br>
				<p>Crowley said the Republican tax bill would require the United States to borrow $1.5 trillion, to be paid off by future generations, to finance tax cuts for corporations and the rich.
				</p>
				</br>
				<p>“This is one of the least ... fiscally responsible bills we’ve ever seen passed in the history of the House of Representatives. I think we’re going to be paying for this for many, many years to come,” Crowley said.
				</p>
				</br>
				<p>Republicans insist the tax package, the biggest U.S. tax overhaul in more than 30 years, will boost the economy and job growth.
				</p>
				</br>
				<p>‘ENTITLEMENT REFORM’
				</p>
				</br>
				<p>House Speaker Paul Ryan, who also supported the tax bill, recently went further than Meadows, making clear in a radio interview that welfare or “entitlement reform,” as the party often calls it, would be a top Republican priority in 2018.
				</p>
				</br>
				<p>In Republican parlance, “entitlement” programs mean food stamps, housing assistance, Medicare and Medicaid health insurance for the elderly, poor and disabled, as well as other programs created by Washington to assist the needy.
				</p>
				</br>
				<p>Democrats seized on Ryan’s early December remarks, saying they showed Republicans would try to pay for their tax overhaul by seeking spending cuts for social programs.
				</p>
				</br>
				<p>But the goals of House Republicans may have to take a back seat to the Senate, where the votes of some Democrats will be needed to approve a budget and prevent a government shutdown.
				</p>
				</br>
				<p>Democrats will use their leverage in the Senate, which Republicans narrowly control, to defend both discretionary non-defense programs and social spending, while tackling the issue of the “Dreamers,” people brought illegally to the country as children.
				</p>
				</br>
				<p>Trump in September put a March 2018 expiration date on the Deferred Action for Childhood Arrivals, or DACA, program, which protects the young immigrants from deportation and provides them with work permits.
				</p>
				</br>
				<p>The president has said in recent Twitter messages he wants funding for his proposed Mexican border wall and other immigration law changes in exchange for agreeing to help the Dreamers.
				</p>
				</br>
				<p>Representative Debbie Dingell told CBS she did not favor linking that issue to other policy objectives, such as wall funding. “We need to do DACA clean,” she said.
				</p>
				</br>
				<p>On Wednesday, Trump aides will meet with congressional leaders to discuss those issues. That will be followed by a weekend of strategy sessions for Trump and Republican leaders on Jan. 6 and 7, the White House said.
				</p>
				</br>
				<p>Trump was also scheduled to meet on Sunday with Florida Republican Governor Rick Scott, who wants more emergency aid. The House has passed an $81 billion aid package after hurricanes in Florida, Texas and Puerto Rico, and wildfires in California. The package far exceeded the $44 billion requested by the Trump administration. The Senate has not yet voted on the aid.
				</p>
				</br>
				
				
            </div>


            <div>
                <h2 class="hot_news">Latest News</h2>
            </div>

            <div class="row_8">

                <div class="column_15">
                    <a class="vertical_news" href="../News_Pages/Air India seals record order for almost 500 Airbus Boeing jets.html">

                        <div class="row_9">
                            <img src="../images/Air India seals record order for almost 500 Airbus Boeing jets.webp"
                                width="100%" height="100%">
                        </div>

                        <div class="row_10">
                            <h4>Air India seals record order for almost 500 Airbus Boeing jets</h4>
                        </div>

                    </a>
                        <div class="row_11">
                            <p>Air India unveiled deals on Tuesday for a record 470 jets from Airbus and Boeing, </p>
                        </div>
                    
                </div>


                <div class="vl"></div>


                <div class="column_15">
                    <a class="vertical_news" href="../News_Pages/Five migrants die when boat sinks.html">

                        <div class="row_9">
                            <img src="../images/Five migrants die when boat sinks.gif"
                                alt="logo" width="100%" height="100%">

                        </div>

                        <div class="row_10">
                            <h4>Five migrants die when boat sinks.
                            </h4>
                        </div>
                    </a>

                        <div class="row_11">
                            <p>At least five African migrants died and more were missing off western Libya on Monday after a boat carrying about 140 people capsized and .... </p>
                        </div>
                    
                </div>


                <div class="vl"></div>


                <div class="column_15">
                    <a class="vertical_news" href="../News_Pages/Court orders Trump administration to give immigrant teens abortion access.html">

                        <div class="row_9">
                            <img src="../images/Court orders Trump administration to give immigrant teens abortion access.jpeg"
                                alt="logo" width="100%" height="100%">

                        </div>

                        <div class="row_10">
                            <h4>Court orders Trump administration to give immigrant teens abortion access</h4>
                        </div>

                    </a>
                        <div class="row_11">
                            <p>A U.S. District Court judge ruled on Monday that President Donald Trump’s administration
                                </p>
                        </div>
                    

                </div>


                <div class="vl"></div>


                <div class="column_15">
                    <a class="vertical_news" href="../News_Pages/China Xi calls for early resolution of Iran nuclear issue.html">

                        <div class="row_9">
                            <img src="../images/China's Xi calls for early resolution of Iran nuclear issue.jpg"
                                alt="logo" width="100%" height="100%">

                        </div>

                        <div class="row_10">
                            <h4>China Xi calls for early resolution of Iran nuclear issue</h4>
                        </div>

                    </a>
                        <div class="row_11">
                            <p>China's President Xi Jinping on Tuesday called for the early and proper resolution of the
                                Iran nuclear </p>
                        </div>

                    

                </div>
            </div>
        </div>

        <div class="column_2">
            <div>
                <h2 class="top_news">Top Stories</h2>
            </div>
            <div class="row_2">
                <div class="column_3">
                    <img src="../images/Instant View House approves biggest tax overhaul in 30 years, Senate next.jpeg"
                        alt="logo" width="100%" height="100%">
                </div>

                <div class="column_4">
                    <h3>Instant Viewb House approves biggest tax overhaul in 30 years</h3>
                    <p>The Republican-controlled U.S. House of Representatives approved sweeping, debt-financed tax legislation on<a href="../News_Pages/Instant View House approves biggest tax overhaul in 30 years Indian forces kill militant leader's                 nephew in Kashmir.html" class="button">See More</a>
                    </p>
                </div>
            </div>
            </br>
            <hr>
            </br>


            <div class="row_3">
                <div class="column_5">
                    <img src="../images/Lebanon PM under house arrest in Saudi Arabia.jpeg" width="100%" height="100%">
                </div>

                <div class="column_6">
                    <h3>Lebanon PM under house arrest in Saudi Arabia</h3>
                    <p>Saad al-Hariri, who quit as Lebanese Prime Minister in a weekend broadcast from Saudi Arabia, 
                        <a href="../News_Pages/Lebanon PM under house arrest in Saudi Arabia.html" class="button">See More</a></p>
                </div>
            </div>
        </br>
        <hr>
        </br>

            <div class="row_4">
                <div class="column_7">
                    <img src="../images/New Zealand declares national emergency as Cyclone Gabrielle wreaks havoc.jpeg" alt="logo"
                        width="100%" height="98%">
                </div>

                <div class="column_8">
                    <h3>New Zealand declares national emergency as Cyclone Gabrielle wreaks havoc</h3>
                    <p>New Zealand declared a national state of emergency for only the  <a href="../News_Pages/New Zealand declares national emergency as Cyclone Gabrielle wreaks havoc.html" class="button">See More</a>
                    </p>
                </div>
            </div>
            </br>
            <hr>
            </br>

            <div class="row_5">
                <div class="column_9">
                    <img src="../images/Paris Olympics Ukrainian president Volodymyr Zelenskyy says no place for Russia at 2024 Games while invasion continues.jpeg" width="100%" height="95%">
                </div>

                <div class="column_10">
                    <h3>Paris Olympics Ukrainian president Volodymyr Zelenskyy says no place for Russia at 2024 Games while invasion continues</h3>          
					<p>The IOC argues it would be  
                        <a href="../News_Pages/Paris Olympics Ukrainian president Volodymyr Zelenskyy says no place for Russia at 2024 Games while invasion continues.html" class="button">See More</a>
                    </p>
                </div>
            </div>
            </br>
            <hr>
            </br>

            <div class="row_6">
                <div class="column_11">
                    <img src="../images/Republicans seek to question FBI officials in Clinton probe- letter.jpg" alt="logo"
                        width="100%" height="100%">
                </div>

                <div class="column_12">
                    <h3>Republicans seek to question FBI officials in Clinton probe</h3>
                    <p>Two Republican lawmakers told the U.S. Department of Justice on Tuesday that they want to question three senior
                        <a href="../News_Pages/Republicans seek to question FBI officials in Clinton probe.html" class="button">See More</a>
                    </p>
                </div>
            </div>
            </br>
            <hr>
            </br>

            <div class="row_7">
                <div class="column_13">
                    <img src="../images/Second U.S. judge blocks Trump administration birth control rules.jpeg" alt="logo"
                        width="100%" height="100%">
                </div>

                <div class="column_14">
                    <h3>Second U.S. judge blocks Trump administration birth control rules</h3>
                    <p>A second U.S. judge on Thursday blocked President Donald Trump’s administration from enforcing new rules
                        <a href="../News_Pages/Second U.S. judge blocks Trump administration birth control rules.html" class="button">See More</a>
                    </p>
                </div>
            </div>
            </br>
            <hr>
            </br>


        </div>
    </div>





    </br> </br> </br>
    <footer>
        <div class="footer_content">
            <h3> Fake News Detector <span>Pro</span></h3>
        </div>
        <div class="footer-bottom">
            <p>Copyright &copy; 2023 Fake News Detector Pro. All Rights Reserved.</p>
        </div>

    </footer>

    <script src="../js/home.js"></script>





</body>

</html>