<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Fake News Detector Pro | Home</title>
    <link rel="icon" href="../images/logo.PNG" type="image/icontype">

    <!-- CSS -->
    <link rel="stylesheet" href="../css/news_pages.css">
    <link rel="stylesheet" href="../css/navbar_footer_response.css">




</head>

<body>


    <div class="hero">
        <nav>
            <a href="Home.html"><img class="logo" src="../images/fake_news_detector_pro.PNG" alt="logo"></a>
            <!-- <h2 class="logo">Fake news Detector <span> Pro</span></h2> -->
            <ul>

                <li><a href="../index.html" >Home</a></li>
                <li><a href="../latest_news.html" class="active" >Latest News</a></li>
                <li><a href="../top_stories.html">Top Stories</a></li>
                <li><a href="../about us.html">About</a></li>
                <li><a href="../query.html">Contact Us</a></li>

            </ul>
            <!-- <button type="button">Profile</button> -->
        </nav>
    </div>



    <div class="row_1 ">
        <div class="column_1">
            <h1>Court orders Trump administration to give immigrant teens abortion access</h1><br>
            <div class="news_page_image">
                <img src="../images/Court orders Trump administration to give immigrant teens abortion access.jpeg" alt="logo"
                    width="100%" height="100%">
            </div>
            <div class="news">

               <p>A U.S. District Court judge ruled on Monday that President Donald Trump’s administration must allow access to abortion for two pregnant teenagers who are in the country illegally, escalating a high-profile legal fight. Judge Tanya Chutkan put her order on hold, 
                  However, to give the U.S. Justice Department time to appeal her ruling.  The Justice Department filed its notice of appeal shortly afterward to the U.S. 
               </p>
               </br>
			   <p>Court of Appeals for the District of Columbia Circuit. The judge’s temporary restraining order marked the latest chapter in a legal dispute with the Trump administration over whether minors who are illegal immigrants have the right to seek an abortion during their detention. The issue was ignited by a 17-year-old who petitioned the court in October to have an abortion, and ultimately had the procedure over the Trump administration’s objections.  
                </p>
                </br>
				<p>In that instance, the U.S. Court of Appeals for the District of Columbia Circuit ruled on Oct. 24 that the teen could have an abortion immediately, rejecting the administration’s opposition. 
                </p>
                </br>
				<p>The two 17-year-olds in the latest legal action, known to the court as Jane Roe and Jane Poe, requested abortions, but the U.S. Office of Refugee Resettlement has refused to allow them access to the procedure. 
                </p>
                </br>
				<p>In her ruling, Chutkan wrote that the girls’  “constitutional right to decide whether to carry their pregnancies to term” needed to be preserved.  She also noted they were likely to succeed on the legal merits of their case, based on the prior ruling in the higher court.
                </p>
                </br>
				<p>“We are deeply disappointed in the decision to grant a temporary restraining order that will compel HHS to facilitate abortions for minors when they are not medically necessary,” a spokesman for the U.S. Department of Health and Human Services said in a statement. 
                </p>
                </br>
				<p>“A pregnant minor who has entered the country illegally has the option to voluntarily depart to her home country or identify a suitable sponsor. HHS-funded facilities that provide temporary shelter and care for unaccompanied alien minors should not become way stations for these children to get taxpayer-facilitated abortions.”
                </p>
            
            </div>


            <div>
                <h2 class="hot_news">Latest News</h2>
            </div>

            <div class="row_8">

                <div class="column_15">
                    <a class="vertical_news" href="../News_Pages/Five migrants die when boat sinks.html">

                        <div class="row_9">
                           <img src="../images/Five migrants die when boat sinks.gif"
                                alt="logo" width="100%" height="100%">

                        </div>

                        <div class="row_10">
                            <h4>Five migrants die when boat sinks</h4>
                        </div>

                    </a>
                        <div class="row_11">
                            <p>At least five African migrants died and more were missing off western Libya on Monday after a boat carrying about 140 people capsized and then some migrants   </p>
                        </div>
                    
                </div>


                <div class="vl"></div>


                <div class="column_15">
                    <a class="vertical_news" href="../News_Pages/As U.S. budget fight looms, Republicans flip their fiscal script.html">

                        <div class="row_9">
                            <img src="../images/As U.S. budget fight looms, Republicans flip their fiscal script.jpeg"
                                width="100%" height="100%">
                        </div>

                        <div class="row_10">
                            <h4>As U.S. budget fight looms, Republicans flip their fiscal script</h4>
                        </div>

                    </a>
                        <div class="row_11">
                            <p>The head of a conservative Republican faction in the U.S.Congress who voted this month
                                for a huge expansion </p>
                        </div>
                    
                </div>


                <div class="vl"></div>


                <div class="column_15">
                    <a class="vertical_news" href="../News_Pages/Ferrari reveal their 'Valentine as new car launched for 2023 Formula 1 championship challenge.html">

                        <div class="row_9">
                            <img src="../images/Ferrari reveal their 'Valentine' as new car launched for 2023 Formula 1 championship challenge.jpg"
                                alt="logo" width="100%" height="100%">

                        </div>

                        <div class="row_10">
                            <h4>Ferrari reveal their 'Valentine as new car launched for 2023 Formula 1 championship challenge</h4>
                        </div>

                    </a>
                        <div class="row_11">
                            <p>This is the car Ferrari hope will end their championship drought in
                                 </p>
                        </div>
                    

                </div>


                <div class="vl"></div>


                <div class="column_15">
                    <a class="vertical_news" href="../News_Pages/Air India seals record order for almost 500 Airbus Boeing jets.html">

                        <div class="row_9">
                            <img src="../images/Air India seals record order for almost 500 Airbus Boeing jets.webp"
                                width="100%" height="100%">
                        </div>

                        <div class="row_10">
                            <h4>Air India seals record order for almost 500 Airbus Boeing jets</h4>
                        </div>

                    </a>
                        <div class="row_11">
                            <p>Air India unveiled deals on Tuesday for a record 470 jets from Airbus and Boeing, </p>
                        </div>
                    

                </div>
            </div>
        </div>

        <div class="column_2">
            <div>
                <h2 class="top_news">Top Stories</h2>
            </div>
            <div class="row_2">
                <div class="column_3">
                     <img src="../images/Six Nations 2023- England's Kyle Sinckler a doubt for Wales game due to facial injury.jpeg" alt="logo"
                        width="100%" height="100%">
                </div>

                <div class="column_4">
                    <h3>Six Nations 2023 England Kyle Sinckler a doubt for Wales game due to facial injury</h3>
                    <p>Kyle Sinckler will not take part in this week's three-day training camp in 
                        <a href="../News_Pages/Six Nations 2023 England Kyle Sinckler a doubt for Wales game due to facial injury.html" class="button">See More</a>
                    </p>
                </div>
            </div>
            </br>
            <hr>
            </br>


            <div class="row_3">
                <div class="column_5">
                    <img src="../images/New Zealand declares national emergency as Cyclone Gabrielle wreaks havoc.jpeg" alt="logo"
                        width="100%" height="98%">
                </div>

                <div class="column_6">
                    <h3>New Zealand declares national emergency as Cyclone Gabrielle wreaks havoc</h3>
                    <p>New Zealand declared a national state of emergency for only the<a href="../News_Pages/Lebanon PM under house arrest in Saudi Arabia.html" class="button">See More</a>
                    </p>
                </div>
            </div>
        </br>
        <hr>
        </br>

            <div class="row_4">
                <div class="column_7">
                    <img src="../images/Lebanon PM under house arrest in Saudi Arabia.jpeg"
                        alt="logo" width="100%" height="100%">
                </div>

                <div class="column_8">
                    <h3>Lebanon PM under house arrest in Saudi Arabia</h3>
                    <p>Saad al-Hariri, who quit as Lebanese Prime Minister in a weekend broadcast from Saudi Arabia, 
                        <a href="../News_Pages/Lebanon PM under house arrest in Saudi Arabia.html" class="button">See More</a></p>
                    </p>
                </div>
            </div>
            </br>
            <hr>
            </br>

            <div class="row_5">
                <div class="column_9">
                    <img src="../images/White House says tax bill will not hurt Puerto Rico _ Reuters.jpeg"
                        alt="logo" width="100%" height="100%">
                </div>

                <div class="column_10">
                    <h3>White House says tax bill will not hurt Puerto Rico _ Reuters</h3>
                    <p>Sweeping tax code changes aimed at keeping U.S. companies from shifting profits offshore to avoid 
                        <a href="../News_Pages/White House says tax bill will not hurt Puerto Rico _ Reuters.html" class="button">See More</a></p>
                    </p>
                </div>
            </div>
            </br>
            <hr>
            </br>

            <div class="row_6">
                <div class="column_11">
                   <img src="../images/Trump US has no choice but to deal with North Korea arms challenge.jpeg" alt="logo"
                        width="100%" height="100%">
                </div>

                <div class="column_12">
                    <h3>Trump US has no choice but to deal with North Korea arms challenge</h3>
                    <p>President Donald Trump unveiled a new national security strategy on Monday, <a href="../News_Pages/Trump US has no choice but to deal with North Korea arms challenge.html" class="button">See More</a>
                    </p>
                </div>
            </div>
            </br>
            <hr>
            </br>

            <div class="row_7">
                <div class="column_13">
                   <img src="../images/Tesla workers launch campaign to form union in New York.webp"
                        alt="logo" width="100%" height="100%">
                </div>

                <div class="column_8">
                    <h3>Tesla workers launch campaign to form union in New York</h3>
                    <p>Tesla Inc (TSLA.O) workers in New York state said on Tuesday they are launching a campaign <a href="../News_Pages/Tesla workers launch campaign to form union in New York.html" class="button">See More</a>
                    </p>
                </div>
            </div>
            </br>
            <hr>
            </br>


        </div>
    </div>





    </br> </br> </br>
    <footer>
        <div class="footer_content">
            <h3> Fake News Detector <span>Pro</span></h3>
        </div>
        <div class="footer-bottom">
            <p>Copyright &copy; 2023 Fake News Detector Pro. All Rights Reserved.</p>
        </div>

    </footer>

    <script src="../js/home.js"></script>





</body>

</html>