<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Fake News Detector Pro | Home</title>
    <link rel="icon" href="../images/logo.PNG" type="image/icontype">

    <!-- CSS -->
    <link rel="stylesheet" href="../css/news_pages.css">
    <link rel="stylesheet" href="../css/navbar_footer_response.css">




</head>

<body>


    <div class="hero">
        <nav>
            <a href="Home.html"><img class="logo" src="../images/fake_news_detector_pro.PNG" alt="logo"></a>
            <!-- <h2 class="logo">Fake news Detector <span> Pro</span></h2> -->
            <ul>

                <li><a href="../index.html" >Home</a></li>
                <li><a href="../latest_news.html" class="active" >Latest News</a></li>
                <li><a href="../top_stories.html">Top Stories</a></li>
                <li><a href="../about us.html">About</a></li>
                <li><a href="../query.html">Contact Us</a></li>

            </ul>
            <!-- <button type="button">Profile</button> -->
        </nav>
    </div>



    <div class="row_1 ">
        <div class="column_1">
            <h1>FBI Russia probe helped by Australian diplomat tip</h1><br>
            <div class="news_page_image">
                <img src="../images/FBI Russia probe helped by Australian diplomat tip.webp" alt="logo"
                    width="100%" height="100%">
            </div>
            <div class="news">

                <p>Trump campaign adviser George Papadopoulos told an Australian diplomat in May 2016 that Russia had political dirt on Democratic presidential candidate Hillary Clinton, the New York Times reported on Saturday.
                </p>
                </br>
                <p>The conversation between Papadopoulos and the diplomat, Alexander Downer, in London was a driving factor behind the FBI’s decision to open a counter-intelligence investigation of Moscow’s contacts with the Trump campaign, the Times reported.
                </p>
				</br>
				<p>Two months after the meeting, Australian officials passed the information that came from Papadopoulos to their American counterparts when leaked Democratic emails began appearing online, according to the newspaper, which cited four current and former U.S. and foreign officials.
                </p>
                </br>
				<p>Besides the information from the Australians, the probe by the Federal Bureau of Investigation was also propelled by intelligence from other friendly governments, including the British and Dutch, the Times said.
                </p>
                </br>
				<p>Papadopoulos, a Chicago-based international energy lawyer, pleaded guilty on Oct. 30 to lying to FBI agents about contacts with people who claimed to have ties to top Russian officials. It was the first criminal charge alleging links between the Trump campaign and Russia.
                </p>
                </br>
				<p>The White House has played down the former aide’s campaign role, saying it was “extremely limited” and that any actions he took would have been on his own. The New York Times, however, reported that Papadopoulos helped set up a meeting between then-candidate Donald Trump and Egyptian President Abdel Fattah al-Sisi and edited the outline of Trump’s first major foreign policy speech in April 2016.
                </p>
                </br>
				<p>The federal investigation, which is now being led by Special Counsel Robert Mueller, has hung over Trump’s White House since he took office almost a year ago. Some Trump allies have recently accused Mueller’s team of being biased against the Republican president.
                </p>
                </br>
				<p>Lawyers for Papadopoulos did not immediately respond to requests by Reuters for comment. Mueller’s office declined to comment.
                </p>
                </br>
				<p>Trump’s White House attorney, Ty Cobb, declined to comment on the New York Times report. “Out of respect for the special counsel and his process, we are not commenting on matters such as this,” he said in a statement.
                </p>
                </br>
				<p>Mueller has charged four Trump associates, including Papadopoulos, in his investigation. Russia has denied interfering in the U.S. election and Trump has said there was no collusion between his campaign and Moscow.
                </p>
                </br>
				
				
				
            </div>


            <div>
                <h2 class="hot_news">Latest News</h2>
            </div>

            <div class="row_8">

                <div class="column_15">
                    <a class="vertical_news" href="../News_Pages/Earthquake fans anti-Syrian sentiment in Turkey amid desperate conditions.html">

                        <div class="row_9">
                            <img src="../images/Earthquake fans anti-Syrian sentiment in Turkey amid desperate conditions.jpg"
                                width="100%" height="100%">
                        </div>

                        <div class="row_10">
                            <h4>Earthquake fans anti-Syrian sentiment in Turkey amid desperate conditions</h4>
                        </div>

                    </a>
                        <div class="row_11">
                            <p>The devastating earthquake to hit Turkey and Syria has fanned resentment among some Turks towards </p>
                        </div>
                    
                </div>


                <div class="vl"></div>


                <div class="column_15">
                    <a class="vertical_news" href="../News_Pages/China Xi calls for early resolution of Iran nuclear issue.html">

                        <div class="row_9">
                            <img src="../images/China's Xi calls for early resolution of Iran nuclear issue.jpg"
                                alt="logo" width="100%" height="100%">

                        </div>

                        <div class="row_10">
                            <h4>China Xi calls for early resolution of Iran nuclear issue</h4>
                        </div>

                    </a>
                        <div class="row_11">
                            <p>China's President Xi Jinping on Tuesday called for the early and proper resolution of the
                                Iran nuclear </p>
                        </div>
                    
                </div>


                <div class="vl"></div>


                <div class="column_15">
                    <a class="vertical_news" href="../News_Pages/Ferrari reveal their 'Valentine as new car launched for 2023 Formula 1 championship challenge.html">

                        <div class="row_9">
                            <img src="../images/Ferrari reveal their 'Valentine' as new car launched for 2023 Formula 1 championship challenge.jpg"
                                alt="logo" width="100%" height="100%">

                        </div>

                        <div class="row_10">
                            <h4>Ferrari reveal their 'Valentine as new car launched for 2023 Formula 1 championship challenge</h4>
                        </div>

                    </a>
                        <div class="row_11">
                            <p>This is the car Ferrari hope will end their championship drought in
                                </p>
                        </div>
                    

                </div>


                <div class="vl"></div>


                <div class="column_15">
                    <a class="vertical_news" href="../News_Pages/Court orders Trump administration to give immigrant teens abortion access.html">

                        <div class="row_9">
                            <img src="../images/Court orders Trump administration to give immigrant teens abortion access.jpeg"
                                alt="logo" width="100%" height="100%">

                        </div>

                        <div class="row_10">
                            <h4>Court orders Trump administration to give immigrant teens abortion access</h4>
                        </div>

                    </a>
                        <div class="row_11">
                            <p>A U.S. District Court judge ruled on Monday that President Donald Trump’s administration
                                must allow </p>
                        </div>
                    

                </div>
            </div>
        </div>

        <div class="column_2">
            <div>
                <h2 class="top_news">Top Stories</h2>
            </div>
            <div class="row_2">
                <div class="column_3">
                    <img src="../images/Paris Olympics Ukrainian president Volodymyr Zelenskyy says no place for Russia at 2024 Games while invasion continues.jpeg" width="100%" height="95%">
                </div>

                <div class="column_14">
                    <h3>Paris Olympics Ukrainian president Volodymyr Zelenskyy says no place for Russia at 2024 Games while invasion continues</h3>          
					<p>The IOC argues it would be  
                        <a href="../News_Pages/Paris Olympics Ukrainian president Volodymyr Zelenskyy says no place for Russia at 2024 Games while invasion continues.html" class="button">See More</a>
                    </p>
                </div>
            </div>
            </br>
            <hr>
            </br>


            <div class="row_3">
                <div class="column_5">
                    <img src="../images/Second U.S. judge blocks Trump administration birth control rules.jpeg" alt="logo"
                        width="100%" height="100%">
                </div>

                <div class="column_6">
                    <h3>Second U.S. judge blocks Trump administration birth control rules</h3>
                    <p>A second U.S. judge on Thursday blocked President Donald Trump’s administration from enforcing new rules  
                        <a href="../News_Pages/Second U.S. judge blocks Trump administration birth control rules.html" class="button">See More</a>
                    </p>
                </div>
            </div>
        </br>
        <hr>
        </br>

            <div class="row_4">
                <div class="column_7">
                    <img src="../images/Trump US has no choice but to deal with North Korea arms challenge.jpeg" alt="logo"
                        width="100%" height="100%">
                </div>

                <div class="column_8">
                    <h3>Trump US has no choice but to deal with North Korea arms challenge</h3>
                    <p>President Donald Trump unveiled a new national security strategy on Monday, <a href="../News_Pages/Trump US has no choice but to deal with North Korea arms challenge.html" class="button">See More</a>
                    </p>
                </div>
            </div>
            </br>
            <hr>
            </br>

            <div class="row_5">
                <div class="column_9">
                 <img src="../images/Instant View House approves biggest tax overhaul in 30 years, Senate next.jpeg"
                        alt="logo" width="100%" height="100%">
                </div>

                <div class="column_10">
                    <h3>Instant Viewb House approves biggest tax overhaul in 30 years</h3>
                    <p>The Republican-controlled U.S. House of Representatives approved sweeping, debt-financed tax legislation on<a href="../News_Pages/Instant View House approves biggest tax overhaul in 30 years Indian forces kill militant leader's                 nephew in Kashmir.html" class="button">See More</a>
                    </p>   
                </div>
            </div>
            </br>
            <hr>
            </br>

            <div class="row_6">
                <div class="column_11">
                    <img src="../images/Republicans seek to question FBI officials in Clinton probe- letter.jpg" alt="logo"
                        width="100%" height="100%">
                </div>

                <div class="column_12">
                    <h3>Republicans seek to question FBI officials in Clinton probe</h3>
                    <p>Two Republican lawmakers told the U.S. Department of Justice on Tuesday that they want to question three 
                        <a href="../News_Pages/Republicans seek to question FBI officials in Clinton probe.html" class="button">See More</a>
                    </p>
                </div>
            </div>
            </br>
            <hr>
            </br>

            <div class="row_7">
                <div class="column_13">
                    <img src="../images/Tesla workers launch campaign to form union in New York .jpeg"
                        alt="logo" width="100%" height="100%">
                </div>

                <div class="column_4">
                    <h3>Tesla workers launch campaign to form union in New York</h3>
                    <p>Tesla Inc (TSLA.O) workers in New York state said on Tuesday they are launching a campaign <a href="../News_Pages/Tesla workers launch campaign to form union in New York.html" class="button">See More</a>
                    </p>
                </div>
            </div>
            </br>
            <hr>
            </br>


        </div>
    </div>





    </br> </br> </br>
    <footer>
        <div class="footer_content">
            <h3> Fake News Detector <span>Pro</span></h3>
        </div>
        <div class="footer-bottom">
            <p>Copyright &copy; 2023 Fake News Detector Pro. All Rights Reserved.</p>
        </div>

    </footer>

    <script src="../js/home.js"></script>





</body>

</html>