<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Fake News Detector Pro | Home</title>
    <link rel="icon" href="../images/logo.PNG" type="image/icontype">

    <!-- CSS -->
    <link rel="stylesheet" href="../css/news_pages.css">
    <link rel="stylesheet" href="../css/navbar_footer_response.css">




</head>

<body>


    <div class="hero">
        <nav>
            <a href="Home.html"><img class="logo" src="../images/fake_news_detector_pro.PNG" alt="logo"></a>
            <!-- <h2 class="logo">Fake news Detector <span> Pro</span></h2> -->
            <ul>
                <li><a href="../index.html" >Home</a></li>
                <li><a href="../latest_news.html">Latest News</a></li>
                <li><a href="../top_stories.html" class="active" >Top Stories</a></li>
                <li><a href="../about us.html">About</a></li>
                <li><a href="../query.html">Contact Us</a></li>
            </ul>
            <!-- <button type="button">Profile</button> -->
        </nav>
    </div>



    <div class="row_1 ">
        <div class="column_1">
            <h1>Paris Olympics Ukrainian president Volodymyr Zelenskyy says no place for Russia at 2024 Games while invasion continues</h1><br>
            <div class="news_page_image">
                <img src="../images/Paris Olympics Ukrainian president Volodymyr Zelenskyy says no place for Russia at 2024 Games while invasion continues.jpeg" alt="logo"
                    width="100%" height="100%">
            </div>
            <div class="news">

                <p>The IOC argues it would be discriminatory to exclude Russia and ally Belarus from sports ahead of the 2024 Paris Games; with qualifying in many sports already under way, the IOC wants athletes from those countries to compete in a neutral capacity without national symbols
                </p>
                </br>
				<p>Russian athletes have "no place" at next year's Paris Olympics while their country's invasion of Ukraine continues, Ukrainian president Volodymyr Zelenskyy has told a summit of sports officials from about 30 countries.
                </p>
                </br>
				<p>The International Olympic Committee (IOC) argues it would be discriminatory to exclude Russia and ally Belarus from sports ahead of the 2024 Paris Games. With qualifying in many sports already under way, the IOC wants athletes from those countries to compete in a neutral capacity without national symbols.
                </p>
                </br>
				<p>"While Russia kills and terrorises, representatives of the terrorist state have no place at sports and Olympic competitions," Zelenskyy told the summit in an opening address by video link, according to a transcript issued by his office.
                </p>
                </br>
				<p>"And it cannot be covered up with some pretended neutrality or a white flag. Because Russia is now a country that stains everything with blood - even the white flag. It must be recognised. And this must be recognised, in particular, at the level of the International Olympic Committee," Zelenskyy said. "The International Olympic Committee needs honesty. Honesty it has unfortunately lost. Honesty that will help stop Russian terror and bring peace closer."
                </p>
                </br>
				<p>Zelenskyy made surprise visits to Britain and France on Wednesday, pushing for fighter jets to battle Russian invaders in a dramatic speech to the British Parliament.
                </p>
                </br>
				
				
				
				
            </div>


            <div>
                <h2 class="hot_news">Latest News</h2>
            </div>

            <div class="row_8">

                <div class="column_15">
                    <a class="vertical_news" href="../News_Pages/FBI Russia probe helped by Australian diplomat tip.html">

                        <div class="row_9">
                            <img src="../images/FBI Russia probe helped by Australian diplomat tip.webp"   alt="logo" width="100%" height="100%">

                        </div>

                        <div class="row_10">
                            <h4>FBI Russia probe helped by Australian diplomat tip
                            </h4>
                        </div>
                    </a>

                        <div class="row_11">
                            <p>Trump campaign adviser George Papadopoulos told an Australian diplomat in May 2016 that Russia had political dirt on Democratic presidential candidate</p>
                        </div>
                    
                </div>


                <div class="vl"></div>


                <div class="column_15">
                    <a class="vertical_news" href="../News_Pages/Ferrari reveal their 'Valentine as new car launched for 2023 Formula 1 championship challenge.html">

                        <div class="row_9">
                           <img src="../images/Ferrari reveal their 'Valentine' as new car launched for 2023 Formula 1 championship challenge.jpg"
                                alt="logo" width="100%" height="100%">

                        </div>

                        <div class="row_10">
                            <h4>Ferrari reveal their 'Valentine as new car launched for 2023 Formula 1 championship challenge</h4>
                        </div>

                    </a>
                        <div class="row_11">
                            <p>This is the car Ferrari hope will end their championship drought in 2023.
                                 </p>
                        </div>
                    </a>

                        
                    
                </div>


                <div class="vl"></div>


                <div class="column_15">
                    <a class="vertical_news" href="../News_Pages/Indian forces kill militant leader's nephew in Kashmir, police say.html">

                        <div class="row_9">
                            <img src="../images/Indian forces kill militant leader's nephew in Kashmir, police say.jpeg"
                                width="100%" height="100%">
                        </div>

                        <div class="row_10">
                            <h4>Indian forces kill militant leader's nephew in Kashmir, police say</h4>
                        </div>

                    </a>
                        <div class="row_11">
                            <p>Indian soldiers killed a relative of a top Pakistan-based militant in a gunbattle in southern Kashmir, </p>
                        </div>
                    

                </div>


                <div class="vl"></div>


                <div class="column_15">
                    <a class="vertical_news" href="../News_Pages/Five migrants die when boat sinks.html">

                        <div class="row_9">
                            <img src="../images/Five migrants die when boat sinks.gif"
                                alt="logo" width="100%" height="100%">

                        </div>

                        <div class="row_10">
                            <h4>Five migrants die when boat sinks</h4>
                        </div>

                    </a>
                        <div class="row_11">
                            <p>At least five African migrants died and more were missing off western Libya on Monday after a boat carrying about 140 people capsized and then some migrants refused rescue by the   </p>
                        </div>

                    

                </div>
            </div>
        </div>

        <div class="column_2">
            <div>
                <h2 class="top_news">Top Stories</h2>
            </div>
            <div class="row_2">
                <div class="column_3">
                    <img src="../images/Trump US has no choice but to deal with North Korea arms challenge.jpeg" alt="logo"
                        width="100%" height="100%">
                </div>

                <div class="column_4">
                    <h3>Trump US has no choice but to deal with North Korea arms challenge</h3>
                    <p>President Donald Trump unveiled a new national security strategy on Monday, <a href="../News_Pages/Trump US has no choice but to deal with North Korea arms challenge.html" class="button">See More</a>
                    </p>
                </div>
            </div>
            </br>
            <hr>
            </br>


            <div class="row_3">
                <div class="column_5">
                    <img src="../images/Tesla workers launch campaign to form union in New York.webp"
                        alt="logo" width="100%" height="100%">
                </div>

                <div class="column_6">
                    <h3>Tesla workers launch campaign to form union in New York</h3>
                    <p>Tesla Inc (TSLA.O) workers in New York state said on Tuesday they are launching a campaign <a href="../News_Pages/Tesla workers launch campaign to form union in New York.html" class="button">See More</a>
                    </p>
                </div>
            </div>
        </br>
        <hr>
        </br>

            <div class="row_4">
                <div class="column_7">
                    <img src="../images/Republicans seek to question FBI officials in Clinton probe- letter.jpg" alt="logo"
                        width="100%" height="100%">
                </div>

                <div class="column_8">
                    <h3>Republicans seek to question FBI officials in Clinton probe</h3>
                    <p>Two Republican lawmakers told the U.S. Department of Justice on Tuesday that they want to question three 
                        <a href="../News_Pages/Republicans seek to question FBI officials in Clinton probe.html" class="button">See More</a>
                    </p>
                </div>
            </div>
            </br>
            <hr>
            </br>

            <div class="row_5">
                <div class="column_9">
                    <img src="../images/Six Nations 2023- England's Kyle Sinckler a doubt for Wales game due to facial injury.jpeg" alt="logo"
                        width="100%" height="100%">
                </div>

                <div class="column_10">
                    <h3>Six Nations 2023 England Kyle Sinckler a doubt for Wales game due to facial injury</h3>
                    <p>Kyle Sinckler will not take part in this week's three-day training camp in 
                        <a href="../News_Pages/Six Nations 2023 England Kyle Sinckler a doubt for Wales game due to facial injury.html" class="button">See More</a>
                    </p>
                </div>
            </div>
            </br>
            <hr>
            </br>

            <div class="row_6">
                <div class="column_11">
                   <img src="../images/Lebanon PM under house arrest in Saudi Arabia.jpeg"
                        alt="logo" width="100%" height="100%">
                </div>

                <div class="column_12">
                    <h3>Lebanon PM under house arrest in Saudi Arabia</h3>
                    <p>Saad al-Hariri, who quit as Lebanese Prime Minister in a weekend broadcast from Saudi Arabia, 
                        <a href="../News_Pages/Lebanon PM under house arrest in Saudi Arabia.html" class="button">See More</a></p>
                    </p>
                </div>
            </div>
            </br>
            <hr>
            </br>

            <div class="row_7">
                <div class="column_13">
                   <img src="../images/New Zealand declares national emergency as Cyclone Gabrielle wreaks havoc.jpeg" alt="logo"
                        width="100%" height="98%">
                </div>

                <div class="column_14">
                    <h3>New Zealand declares national emergency as Cyclone Gabrielle wreaks havoc</h3>
                    <p>New Zealand declared a national state of emergency for only the<a href="../News_Pages/New Zealand declares national emergency as Cyclone Gabrielle wreaks havoc.html" class="button">See More</a>
                    </p>
                </div>
            </div>
            </br>
            <hr>
            </br>


        </div>
    </div>





    </br> </br> </br>
    <footer>
        <div class="footer_content">
            <h3> Fake News Detector <span>Pro</span></h3>
        </div>
        <div class="footer-bottom">
            <p>Copyright &copy; 2023 Fake News Detector Pro. All Rights Reserved.</p>
        </div>

    </footer>

    <script src="../js/home.js"></script>





</body>

</html>