<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Fake News Detector Pro | Home</title>
    <link rel="icon" href="../images/logo.PNG" type="image/icontype">

    <!-- CSS -->
    <link rel="stylesheet" href="../css/news_pages.css">
    <link rel="stylesheet" href="../css/navbar_footer_response.css">




</head>

<body>


    <div class="hero">
        <nav>
            <a href="Home.html"><img class="logo" src="../images/fake_news_detector_pro.PNG" alt="logo"></a>
            <!-- <h2 class="logo">Fake news Detector <span> Pro</span></h2> -->
            <ul>
                <li><a href="../index.html" >Home</a></li>
                <li><a href="../latest_news.html">Latest News</a></li>
                <li><a href="../top_stories.html" class="active" >Top Stories</a></li>
                <li><a href="../about us.html" >About</a></li>
                <li><a href="../query.html">Contact Us</a></li>
            </ul>
            <!-- <button type="button">Profile</button> -->
        </nav>
    </div>



    <div class="row_1 ">
        <div class="column_1">
            <h1> White House says tax bill will not hurt Puerto Rico _ Reuters</h1><br>
            <div class="news_page_image">
                <img src="../images/White House says tax bill will not hurt Puerto Rico _ Reuters.jpeg" alt="logo"
                    width="100%" height="100%">
            </div>
            <div class="news">
			
			    <p>Sweeping tax code changes aimed at keeping U.S. companies from shifting profits offshore to avoid taxes will not affect the battered economy of Puerto Rico, a senior White House official said on Wednesday. Puerto Rico Governor Ricardo Rossello has said the provisions in a new tax bill passed by Congress could prompt drug and medical device manufacturers to leave the island territory, which is considered a foreign jurisdiction for tax purposes. “I personally do not think that this is going to hurt Puerto Rico,” the White House official told reporters, speaking on condition of anonymity. 
                </p>
                </br>
				<p>The tax base erosion provisions in the bill provide exemptions for the cost of goods U.S. companies buy offshore, meaning supplies made in Puerto Rico would not be affected, the White House official said. The manufacturing plants are an economic lifeline for 3.4 million Americans in the territory, where the economy never recovered after Congress in 2006 ended a different set of longstanding business tax breaks. 
                </p>
                </br>
				<p>Puerto Rico has $120 billion of combined bond and pension debt and near-insolvent public health systems, and filed the largest-ever U.S. government bankruptcy this year. Three months ago, Hurricane Maria slammed into the island, tearing up homes and the power grid and bringing its economy to a halt. Congress is considering an $81 billion disaster aid bill - some of which is aimed at Puerto Rico - as part of a must-pass government funding bill.
                </p>
               
				
		     </div>


            <div>
                <h2 class="hot_news">Latest News</h2>
            </div>

            <div class="row_8">

                <div class="column_15">
                    <a class="vertical_news" href="../News_Pages/Ferrari reveal their 'Valentine as new car launched for 2023 Formula 1 championship challenge.html">

                        <div class="row_9">
                            <img src="../images/Ferrari reveal their 'Valentine' as new car launched for 2023 Formula 1 championship challenge.jpg"
                                alt="logo" width="100%" height="100%">

                        </div>

                        <div class="row_10">
                            <h4>Ferrari reveal their 'Valentine as new car launched for 2023 Formula 1 championship challenge</h4>
                        </div>

                    </a>
                        <div class="row_11">
                            <p>This is the car Ferrari hope will end their championship drought in
                                </p>
                        </div>
                    
                </div>


                <div class="vl"></div>


                <div class="column_15">
                    <a class="vertical_news" href="../News_Pages/Air India seals record order for almost 500 Airbus Boeing jets.html">

                    <div class="row_9">
                    <img src="../images/Air India seals record order for almost 500 Airbus Boeing jets.webp"
                                width="100%" height="100%">
                        </div>

                        <div class="row_10">
                            <h4>Air India seals record order for almost 500 Airbus Boeing jets</h4>
                        </div>

                    </a>
                        <div class="row_11">
                            <p>Air India unveiled deals on Tuesday for a record 470 jets from Airbus and Boeing, </p>
                        </div>   
						
						</div>


                <div class="vl"></div>


                <div class="column_15">
                    <a class="vertical_news" href="../News_Pages/Indian forces kill militant leader's nephew in Kashmir, police say.html">

                        <div class="row_9">
                           <img src="../images/Indian forces kill militant leader's nephew in Kashmir, police say.jpeg"
                                width="100%" height="100%">
                        </div>

                        <div class="row_10">
                            <h4>Indian forces kill militant leader's nephew in Kashmir, police say</h4>
                        </div>

                    </a>
                        <div class="row_11">
                            <p>Indian soldiers killed a relative of a top Pakistan-based militant in a gunbattle in southern Kashmir, </p>
                        </div> 
                    

                </div>


                <div class="vl"></div>


                <div class="column_15">
                    <a class="vertical_news" href="../News_Pages/Earthquake fans anti-Syrian sentiment in Turkey amid desperate conditions.html">

                        <div class="row_9">
                            <img src="../images/Earthquake fans anti-Syrian sentiment in Turkey amid desperate conditions.jpg"
                                alt="logo"  width="100%" height="100%">
                        </div>

                        <div class="row_10">
                            <h4>Earthquake fans anti-Syrian sentiment in Turkey amid desperate conditions</h4>
                        </div>

                    </a>
                        <div class="row_11">
                            <p>The devastating earthquake to hit Turkey and Syria has fanned resentment among some Turks towards </p>
                        </div>    
						

                </div>
            </div>
        </div>

        <div class="column_2">
            <div>
                <h2 class="top_news">Top Stories</h2>
            </div>
            <div class="row_2">
                <div class="column_3">
                    <img src="../images/Second U.S. judge blocks Trump administration birth control rules.jpeg" alt="logo"
                        width="100%" height="100%">
                </div>

                <div class="column_4">
                    <h3>Second U.S. judge blocks Trump administration birth control rules</h3>
                    <p>A second U.S. judge on Thursday blocked President Donald Trump’s administration from enforcing new rules  
                        <a href="../News_Pages/Second U.S. judge blocks Trump administration birth control rules.html" class="button">See More</a>
                    </p>
                </div>
            </div>
            </br>
            <hr>
            </br>


            <div class="row_3">
                <div class="column_5">
                    <img src="../images/New Zealand declares national emergency as Cyclone Gabrielle wreaks havoc.jpeg" alt="logo"
                        width="100%" height="98%">
                </div>

                <div class="column_6">
                    <h3>New Zealand declares national emergency as Cyclone Gabrielle wreaks havoc</h3>
                    <p>New Zealand declared a national state of emergency for only the <a href="../News_Pages/New Zealand declares national emergency as Cyclone Gabrielle wreaks havoc.html" class="button">See More</a>
                    </p>
                </div>
            </div>
        </br>
        <hr>
        </br>

            <div class="row_4">
                <div class="column_7">
                    <img src="../images/Lebanon PM under house arrest in Saudi Arabia.jpeg"
                        alt="logo" width="100%" height="100%">
                </div>

                <div class="column_8">
                    <h3>Lebanon PM under house arrest in Saudi Arabia</h3>
                    <p>Saad al-Hariri, who quit as Lebanese Prime Minister in a weekend broadcast from Saudi Arabia, 
                        <a href="../News_Pages/Lebanon PM under house arrest in Saudi Arabia.html" class="button">See More</a></p>
                    </p>
                </div>
            </div>
            </br>
            <hr>
            </br>

            <div class="row_5">
                <div class="column_9">
                    <img src="../images/Trump US has no choice but to deal with North Korea arms challenge.jpeg" alt="logo"
                        width="100%" height="100%">
                </div>

                <div class="column_10">
                    <h3>Trump US has no choice but to deal with North Korea arms challenge</h3>
                    <p>President Donald Trump unveiled a new national security strategy on Monday, <a href="../News_Pages/Trump US has no choice but to deal with North Korea arms challenge.html" class="button">See More</a>
                    </p> 
                </div>
            </div>
            </br>
            <hr>
            </br>

            <div class="row_6">
                <div class="column_11">
                  <img src="../images/Paris Olympics Ukrainian president Volodymyr Zelenskyy says no place for Russia at 2024 Games while invasion continues.jpeg" width="100%" height="95%">
                </div>

                <div class="column_12">
                    <h3>Paris Olympics Ukrainian president Volodymyr Zelenskyy says no place for Russia at 2024 Games while invasion continues</h3>          
					<p>The IOC argues it would be  
                        <a href="../News_Pages/Paris Olympics Ukrainian president Volodymyr Zelenskyy says no place for Russia at 2024 Games while invasion continues.html" class="button">See More</a>
                    </p> 
                </div>
            </div>
            </br>
            <hr>
            </br>

            <div class="row_7">
                <div class="column_13">
                    <img src="../images/Tesla workers launch campaign to form union in New York .jpeg"
                        alt="logo" width="100%" height="100%">
                </div>

                <div class="column_14">
                    <h3>Tesla workers launch campaign to form union in New York</h3>
                    <p>Tesla Inc (TSLA.O) workers in New York state said on Tuesday they are launching a campaign <a href="../News_Pages/Tesla workers launch campaign to form union in New York.html" class="button">See More</a>
                    </p>
                </div>
            </div>
            </br>
            <hr>
            </br>


        </div>
    </div>





    </br> </br> </br>
    <footer>
        <div class="footer_content">
            <h3> Fake News Detector <span>Pro</span></h3>
        </div>
        <div class="footer-bottom">
            <p>Copyright &copy; 2023 Fake News Detector Pro. All Rights Reserved.</p>
        </div>

    </footer>

    <script src="../js/home.js"></script>





</body>

</html>