



    .hr {
    font-size: 17px;
    line-height: 29px;
    max-width: 750px;
    margin: 30px auto;}



    h2 {
    font-family: 'Domaine Sans Display Regular', sans-serif;
    font-size: 36px;
    padding: 10px;
    text-align: center;
}



    div img {
      width: 150px;

    }

    p {
    margin-bottom: 0px;
    text-align: justify;



    line-height: normal;
    font-family: "Nunito Sans";
    font-size: 16px;

    color: #333;


	  }

    .Team {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 20px;
    }

    .unit {
      margin: 25px;
      width: 200px;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .unit img {
      border-radius: 100px;
      width: 150px;
      height: 150px;
      margin-bottom: 10px;
    }

    .unit p {
      text-align: left;
      margin: 2px;
    }

    .unit p:first-of-type {
      font-weight: bolder;
      margin-bottom: 5px;
    }

    @media screen and (max-width:820px) {
      .banner {
        width: 80%;
        padding: 5px 30px;
      }
    }
