html,
body {
    width: 300px;
    height: 300px;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
    padding-left: 0px;
    padding-right: 0px;
    margin: auto;
}

.logo {

    width: 60%;
    height: 18%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3%;
    margin-bottom: auto;
}

.form_textarea{
  height: 40px; 
  width: 230px;
}

button {
    border: none;
    background: rgb(236, 57, 57);
    padding: 10px 25px;
    border-radius: 20px;
    color: black;
    font-weight: bold;
    font-size: 15px;
    transition: .2s;
  }
  
  button:hover {
    transform: scale(1.2);
    cursor: pointer;
  }
  
  /* .extension_link_button {
    padding: 2% 10% 2%;
  } */
  
  .indicator {
    text-decoration: none;
  }